.contenedor{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(5px);
    grid-template-rows: repeat(5px);
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    grid-column:1 ;
    grid-row:3 ;
}